<!DOCTYPE html>
<html ng-app="islandApp">
<head>
    <meta charset="utf-8">
    <title>Angular.js Example</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script>
        var countryApp = angular.module('islandApp', []);
        countryApp.controller('IslandsCtrl', function ($scope, $http) {
            $http.get('islands.json').success(function (data) {
                $scope.islands = data;
            });
            $scope.reverse = true;
            $scope.sortField = 'name';
        });
    </script>
</head>
<body ng-controller="IslandsCtrl">
Search:<input ng-model="query" type="text"/>
<table>
    <tr>
        <th><a href="" ng-click="sortField='name'; reverse = !reverse">Island</a></th>
        <th><a href="" ng-click="sortField='population'; reverse = !reverse">Population</a></th>
        <th><a href="" ng-click="sortField='mapLatLong'; reverse = !reverse">Map Position</a></th>
    </tr>
    <tr ng-repeat="island in islands | filter:query | orderBy:sortField:reverse">
        <td>{{island.name}}</td>
        <td>{{island.population}}</td>
        <td>
            <a href="https://maps.google.com?saddr=Current+Location&daddr={{island.mapLatLong}}">{{island.mapLatLong}}</a>
        </td>
    </tr>
</table>
</body>
</html>