<div id="searchMachine">
    <input ng-model="query" type="text" placeholder="search an island">
</div>

<br>
<a href="" ng-click="sortField='name'; reverse = !reverse">Image</a>
<a href="" ng-click="sortField='name'; reverse = !reverse">Island</a>
<a href="" ng-click="sortField='population'; reverse = !reverse">Population</a>
<a href="" ng-click="sortField='locationName'; reverse = !reverse">Location name</a>
<a href="" ng-click="sortField='mapLatLong'; reverse = !reverse">Map Position</a>
<br>
<ul>
    <li ng-repeat="island in islands | filter:query | orderBy:sortField:reverse">
        <img ng-src="{{island.img}}" width="70">

        <h3>{{island.name}}</h3>

        <p>Population: {{island.population}}</p>

        <p>{{island.shortDesc}}</p>
        <a href="https://www.google.com/maps/place/{{island.locationName}}">{{island.locationName}}</a>
    </li>
</ul>

