<div id="searchMachine">
    <input ng-model="query" type="text" placeholder="Search an island">
</div>

<br>
<a href="" ng-click="sortField='name'; reverse = !reverse" class="button button-blue"><span>Image</span></a>
<a href="" ng-click="sortField='name'; reverse = !reverse" class="button button-blue"><span>Island</span></a>
<a href="" ng-click="sortField='population'; reverse = !reverse" class="button button-blue"><span>Population</span></a>
<a href="" ng-click="sortField='locationName'; reverse = !reverse" class="button button-blue"><span>Location name</span></a>
<br>
<ul>
    <li ng-repeat="island in islands | filter:query | orderBy:sortField:reverse">
        <img ng-src="{{island.img}}" width="70">

        <h3>{{island.name}}</h3>

        <p>Population: {{island.population}}</p>

        <p>{{island.shortDesc}}</p>
        <a href="https://www.google.com/maps/place/{{island.locationName}}">{{island.locationName}}</a>
    </li>
</ul>

