<div id="searchMachine">
    <input ng-model="query" type="text" placeholder="Search an island">
</div>

<br>
<a href="" ng-click="sortField='name'; reverse = !reverse" class="button button-blue"><span>Image</span></a>
<a href="" ng-click="sortField='name'; reverse = !reverse" class="button button-blue"><span>Island</span></a>
<a href="" ng-click="sortField='population'; reverse = !reverse" class="button button-blue"><span>Population</span></a>
<a href="" ng-click="sortField='locationName'; reverse = !reverse" class="button button-blue"><span>Location name</span></a>
<br>
<ul id="islandList">
    <li ng-repeat="island in islands | filter:query | orderBy:sortField:reverse"
        ng-click="$location.path('#/{{island.name}}')">
        <img ng-src="{{island.img}}" width="70">
        <a href="#/{{island.name}}">{{island.name}}</a>

        <p>Population: {{island.population}}</p>
        <p>{{island.shortDesc}}</p>
    </li>
</ul>

