* {
    margin: 0;
    padding: 0;
}

div {
    margin: 20px;
}

ul {
    list-style-type: none;
    width: 1500px;
    border: 1px solid #b2aaee;
}

h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
    float: left;
    margin: 0 15px 0 0;
}

li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
    padding: 10px;
    overflow: auto;
}

li:hover {
    background: #b2aaee;
    cursor: pointer;
}

.style-1 input[type="text"] {
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

#searchMachine {
    margin: 0 auto;
    text-align: center;
}

input[type=text] {
    outline: none;
    width: 90%;
    padding: 15px;
    margin: 0 auto;
    color: #858bf0;
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.9);
    -o-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.9);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.9);
}

input[type=search] {
    position: absolute;
    margin-left: -105px;
    margin-top: 5px;
    font-size: 25px;
    color: #222;
    text-shadow: 0 1px 0 #322857;
    padding: 10px;
    width: 100px;
    height: 50px;
    border: none;
    background: #858bf0;
    background: -moz-linear-gradient(top, #f0f0f0 0%, #c3d7ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #c3d7ff));
    background: -webkit-linear-gradient(top, #f0f0f0 0%, #c3d7ff 100%);
    background: -o-linear-gradient(top, #f0f0f0 0%, #c3d7ff 100%);
    background: -ms-linear-gradient(top, #f0f0f0 0%, #c3d7ff 100%);
    background: linear-gradient(top, #f0f0f0 0%, #c3d7ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#c3d7ff', GradientType=0);
    -webkit-box-shadow: 0 0 5px rgb(138, 136, 139), inset 0 1px 0 rgba(216, 255, 201, 0.30);
    -moz-box-shadow: 0 0 5px rgba(138, 136, 139), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -o-box-shadow: 0 0 5px rgba(138, 136, 139), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 5px rgba(138, 136, 139), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.button {
    margin: 2px;
    text-decoration: none;
    font: bold 1.0em 'Trebuchet MS', Arial, Helvetica; /*Change the em value to scale the button*/
    display: inline-block;
    text-align: center;
    color: #fff;
    border: 1px solid #9c9c9c; /* Fallback style */
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 .05em rgba(0, 0, 0, 0.4);
}

.button,
.button span {
    -moz-border-radius: .3em;
    border-radius: .3em;
}

.button span {
    border-top: 1px solid #fff; /* Fallback style */
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    padding: 0.2em 0.5em;
    /* The background pattern */
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent);

    /* Pattern settings */
    background-size: 1px 1px;
}

.button:hover {
    box-shadow: 0 0 .1em rgba(0, 0, 0, 0.4);
}

.button:active {
    /* When pressed, move it down 1px */
    position: relative;
    top: 1px;
}

.button-blue {
    background: #4477a1;
    background: -webkit-gradient(linear, left top, left bottom, from(#81a8cb), to(#4477a1));
    background: -moz-linear-gradient(-90deg, #81a8cb, #4477a1);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#81a8cb', endColorstr='#4477a1');
}

.button-blue:hover {
    background: #81a8cb;
    background: -webkit-gradient(linear, left top, left bottom, from(#4477a1), to(#81a8cb));
    background: -moz-linear-gradient(-90deg, #4477a1, #81a8cb);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#4477a1', endColorstr='#81a8cb');
}

.button-blue:active {
    background: #4477a1;
}